/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run jianhong/merip -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "${projectDir}/test_data/samplesheet.csv"

    // Genome references
    fasta = "${projectDir}/test_data/chr22.fa.gz"
    gtf   = "${projectDir}/test_data/chr22.gtf.gz"
    spikein_fasta = "${projectDir}/assets/spike-in_RNA.fa"

    // macs2
    macs2_params = '--nomodel --extsize 50 -B --scale-to small --keep-dup 5 --slocal 2000'
}
